body {
    margin: 0;
    height: 100vh;           
    display: flex;
    justify-content: center;
    align-items: center;
}
#game{
    position: absolute;
    z-index: 5;
}
#score{
    position: fixed;
    top: 10px;
    left:10px;
    background-color: blueviolet;
}
#timer{
    position: fixed;
    top: 10px;
    left:1950px;
    background-color: blueviolet;
}